:root {
    --primary: #FFFFFF;
    --secondary: #e6e3f8;
    --tertiary:#EF626C;
    --quat:#ECEBF3;
    --text:#EF626C;
    --outlines:#8a99a1;
    --special-border:#f5e999;
}
* {
    font-family: Open Sans;
    font-weight: 500;
    font-style: italic;
}
html {
    scroll-behavior:smooth;
    scroll-padding-top: 100px;
}
.navbar{
    background-color: var(--primary);
    border-bottom: 2px solid var(--tertiary);
}
.navbar.fixed-top.navbar-expand-lg.navbar-light a {
    color: var(--tertiary);
    text-decoration: none;
}
body {
    background-color: var(--secondary);
}
.carousel-item img {
    height: 500px;
}
.card-header {
    padding-top: 60px;
    color: var(--text);
    background-color: var(--quat);
    text-decoration: underline;
    font-size: larger;
}
.card-text {
    padding: 30px;
    text-align: justify;
}
.btn.btn-danger {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    box-shadow: none;
}
.section-head {
    color: var(--primary);
    background-color: var(--tertiary);
    padding: 4%;
}
#Rules a {
    color: var(--primary);
    text-decoration: underline;
}
img {
    border: 5px solid var(--special-border);
}
iframe {
    border: 5px solid var(--special-border);
    width: 60%;
}
@media (max-width:500px) {
    .carousel-item img {
        height: 300px;
    }
    iframe {
        width: 100%;
    }
}
@media (min-width:800px) {
    iframe {
        height: 315px;
    }
}
.image-zoom-in {
    overflow: hidden;
}
.image-zoom-in img {
    transition: transform .5s ease;
}
.image-zoom-in:hover img {
    transform: scale(1.2);
}
.fade-in-hidden {
    color: rgba(0, 0, 0, 0);
}
.fade-in-left-hidden {
    color: rgba(0, 0, 0, 0);
}
.fade-in-elem {
    animation: fade-in 2.5s;
}
.fade-in-left-elem {
    animation: fade-in-left 2.5s;
}
@keyframes fade-in {
    from {opacity: 0; transform: scale(.8,.8)}
    to {opacity: 1;}
}
@keyframes fade-in-left {
    from {
       opacity: 0;
       transform: translateX(-20px);
    }
    to {
       opacity: 1;
       transform: translateX(0);
    }
 }